.dialog__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 12px;

  > .countdown {
    color: #7eb9fd;
    font-size: 2.8rem;
    text-shadow: 2px 2px #0e2447;
  }

  > .dialog__content {
    width: 100%;
    max-width: 300px;
    color: #fff;
    background-color: #0e2447;
    border-radius: 8px;
    padding: 12px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
}
